<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>INSURANCE CHARGE PREDICTION </h1>
    <form action="{{ url_for("gfg") }} "method="post">
<label for=" age">age in years:</label>
<input type="text" id=" age" name="age" placeholder="age">
<label for="bmi">bmi:</label>
<input type="text" id="bmi" name="bmi" placeholder="bmi">
    <label for="children">children:</label>
<input type="text" id="children" name="children" placeholder="children">

 <label for="sex">sex:</label>
  <select id="sex" name="sex">
    <option value="female">female</option>
    <option value="male">male </option>
  </select>

<label for="smoker"> smoker : </label>
  <select id="smoker" name="smoker">
    <option value="yes">yes</option>
    <option value="no">no</option>
  </select>

    <label for="region	"> region	 : </label>
  <select id="region	" name="region	">
    <option value="northwest">northwest</option>
    <option value="southeast">southeast</option>
      <option value="southwest">southwest</option>
      <option value="northeast">northeast</option>
  </select>

<button type="submit">Predict</button>
</body>
</html>